/* Hero con fondo */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("/imgs/portada.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  padding: 2rem;
  color: black;
  overflow: hidden;
  /* mask-image: linear-gradient(to top, transparent, black 80%); GRADIENTE
  -webkit-mask-image: linear-gradient(to top, transparent, black 80%); */
}

/* Caja del texto */
.hero-content {
  max-width: 50%; /* solo mitad del ancho */
  text-align: left;
  margin-bottom: 3rem; /* un poco arriba del borde */
}

.hero-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.hero-description {
  font-size: 1.1rem;
  line-height: 1.6;
}
